<h2 style = "font-weight: bold; ">
  Bem-vindo {{name}},
</h2>
<h3 style = "font-weight: normal;">
  Sua matrícula foi realizada com sucesso em <span style = "font-weight: bold">{{start_date}}</span>, 
  no plano <span style = "font-weight: bold">{{plan_title}}({{plan_duration}} meses)</span>, 
  no valor final de <span style = "font-weight: bold">R$ {{price}},00</span>. 
  A data de término de sua matrícula está estipulada para <span style = "font-weight: bold">{{end_date}}</span>.
</h3>